<!DOCTYPE html>

<html>
    <head>
        {{>toplinks}}
    </head>
    <body>
        {{>navbar}}
        <!-- main header  -->
        <div class="container-fluid main-header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto main_header_right d-flex justify-content-center align-items-center">
                            <figure class="errimg">
                                <img src="images/404.jpg"  alt="hitesh" class="img-fluid" title="hitesh mali" />
                            </figure>
                            <p> Welcome to Hitesh mali World </p>
                            <h1> {{errorMsg}} </h1>
                             
                           
                            <a href="/"  target="_blank"><button>Go Back</button></a>

                             
                        </div>
                        <!-- right side div  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer code  -->
        {{>footer}}
       
        {{>script}}

    </body>
</html>